.body {
	font: 1em "Helvetica" sans-serfi;
	background-color: #edeff0;
	margin: 0;
}

.wrapper {
	margin: 0 auto;
	padding: 20px;
	width: 100%;
	max-width: 800px;
	background-color: #fff;
}



h1,
h2,
h3,
h4,
h5 {

	font-weight: 200;
}

input,
textarea {
	font-size: inherit;
}

input[type="text"],

textarea {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #bbb;
}

label {
	display: block;
	margin-bottom: 20px;
}

table {
	width: 100px;
	table-layout: fixed;
	margin-bottom: 20px;
}
table th {
	text-align: left;
}

.faded {
	color: #bbb;
}
